<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="home">SeeMyPaints</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="!account.token" ui-sref-active="active"><a ui-sref="login">{{ translation.header.nav.LOGIN }}</a></li>
				<li ng-if="account.token" ui-sref-active="active">
					<a ui-sref="my-art">My Art Galleries</a>
				</li>
				<li ng-if="account.token" ui-sref-active="active">
					<button ng-click="logout()" type="button" class="btn btn-danger pull-right">Logout</button>
				</li>
				<li ng-if="!account.token" ui-sref-active="active"><a ui-sref="signup">{{ translation.header.nav.SIGNUP }}</a></li>
			</ul>
		</div>

	</div>
</nav>