<div class="login-page">
	<div class="row">
		<div class="container login">
			<div class="col-md-12">
				<div class="well bs-component">
					<form name="formLogin" ng-submit="submit()">
						<div class="form-group has-success has-feedback" ng-class="{ 'has-error': formLogin.userEmail.$error.required }">
							<label for="emailInput">Email address</label>
							<input type="email" name="userEmail" ng-model="user.email" class="form-control" placeholder="Enter email" required>
							<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
						</div>
						<div class="form-group">
							<label for="passwordInput">Password</label>
							<input type="password" ng-model="user.password" class="form-control" placeholder="Password" required>
						</div>
						<button type="submit" class="btn btn-success btn-raised">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
<div/>